### Natural Language Processing - Homework 6

Submitted by: Apurv Mittal

### Question 1

#### 1a.

Searched for book named `Atlas Shrugged` on Amazon.com. The first 24 search results are listed under `amazon_books` variable. Sponsored results were excluded.

In [1]:
amazon_books=["Atlas Shrugged",
              "Atlas Shrugged by Ayn Rand (1999-08-01)",
              "Atlas Shrugged (50th Anniversary Edition)",
              "Atlas Shrugged: Centennial Edition",
              "Atlas Shrugged[ATLAS SHRUGGED 35/E][Paperback]",
              "Exploring Atlas Shrugged: Ayn Rand’s Magnum Opus",
              "Pocket Guide to Atlas Shrugged",
              "So Who Is John Galt, Anyway?: A Reader's Guide to Ayn Rand's Atlas Shrugged",
              "Atlas Shrugged: CliffsNotes",
              "Atlas Shrugged (Student Edition)",
              "Atlas Shrugged",
              "ATLAS SHRUGGED by AYN RAND; 35th Anniversary Edition",
              "Atlas Shrugged, 2-Vol. Set",
              "Atlas Shrugged & The Fountainhead (Centennial Edition) [Atlas Shrugged & Fountainhead] by Ayn Rand (Atlas Shrugged & The Fountainhead 2 Book set)",
              "Atlas Shrugged[ATLAS SHRUGGED][Hardcover]",
              "GradeSaver (TM) ClassicNotes: Atlas Shrugged Study Guide",
              "Atlas Shrugged (Easton Press Deluxe Limited Signed by Artist) - Sealed",
              "Your Guide to Ayn Rand, Atlas Shrugged, and The Fountainhead",
              "Atlas Shrugged (50th Anniversary Edition) and the Fountainhead (Centennial Edition)",
              "Atlas Shrugged: The Novel, the Films, the Philosophy",
              "Everything You Need to Know About Atlas Shrugged and The Fountainhead",
              "Atlas Shrugged Abridged; 12 hours o Edition by Rand, Ayn published by HighBridge Company (2000) Audio CD",
              "Atlas Shrugged (Cliffs Notes) (Edition 1) by Andrew Bernstein [Paperback(2000£©]",
              "La Grève: Atlas shrugged 1"
              ]

#### 1b.

In order to the `cosine` comparision, first create a function to calculate the cosine similarity score.

In [2]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
def cosine(book1, book2):
    
    X_list = word_tokenize(book1) 
    Y_list = word_tokenize(book2)

    # sw contains the list of stopwords
    sw = stopwords.words('english') 
    l1 =[];l2 =[]

    # remove stop words from the string
    X_set = {w for w in X_list if not w in sw} 
    Y_set = {w for w in Y_list if not w in sw}

    # form a set containing keywords of both strings 
    rvector = X_set.union(Y_set) 
    for w in rvector:
        if w in X_set: l1.append(1) # create a vector
        else: l1.append(0)
        if w in Y_set: l2.append(1)
        else: l2.append(0)
    c = 0

    # cosine formula 
    for i in range(len(rvector)):
            c+= l1[i]*l2[i]
    cosine = c / float((sum(l1)*sum(l2))**0.5)
    return cosine

Reference: https://www.geeksforgeeks.org/python-measure-similarity-between-two-sentences-using-cosine-similarity/

Ran a pairwise cosine similarity among all 24 book search results. It produced `576` results. The search results are listed below pairwise.

To avoid comparising book name to itself, added a condition to compare the names and calculate cosine similarity only when the names are not same.

In [3]:
counter =0
score_list = []
for book in amazon_books:
    for other_book in amazon_books:
        if book != other_book:
            counter+=1
            score_list.append([counter,book, other_book,cosine(book,other_book)])

In [4]:
score =pd.DataFrame.from_records(score_list,columns = ["Comparision #","Book 1","Book 2","Cosine Score"])

In [5]:
score

,Comparision #,Book 1,Book 2,Cosine Score
0,1,Atlas Shrugged,Atlas Shrugged by Ayn Rand (1999-08-01),0.534522
1,2,Atlas Shrugged,Atlas Shrugged (50th Anniversary Edition),0.534522
2,3,Atlas Shrugged,Atlas Shrugged: Centennial Edition,0.632456
3,4,Atlas Shrugged,Atlas Shrugged[ATLAS SHRUGGED 35/E][Paperback],0.500000
4,5,Atlas Shrugged,Exploring Atlas Shrugged: Ayn Rand’s Magnum Opus,0.471405
...,...,...,...,...
545,546,La Grève: Atlas shrugged 1,Atlas Shrugged (50th Anniversary Edition) and ...,0.136083
546,547,La Grève: Atlas shrugged 1,"Atlas Shrugged: The Novel, the Films, the Phil...",0.288675
547,548,La Grève: Atlas shrugged 1,Everything You Need to Know About Atlas Shrugg...,0.136083
548,549,La Grève: Atlas shrugged 1,Atlas Shrugged Abridged; 12 hours o Edition by...,0.096225
549,550,La Grève: Atlas shrugged 1,Atlas Shrugged (Cliffs Notes) (Edition 1) by A...,0.218218

Above is the list of pairwise comparision and cosine similarity score.

#### 1c.

In [6]:
score.sort_values(by=['Cosine Score'], inplace=True, ascending=False)

In [7]:
score.head()

,Comparision #,Book 1,Book 2,Cosine Score
414,415,Atlas Shrugged (50th Anniversary Edition) and ...,Atlas Shrugged (50th Anniversary Edition),0.881917
62,63,Atlas Shrugged (50th Anniversary Edition),Atlas Shrugged (50th Anniversary Edition) and ...,0.881917
324,325,Atlas Shrugged[ATLAS SHRUGGED][Hardcover],Atlas Shrugged[ATLAS SHRUGGED 35/E][Paperback],0.801784
104,105,Atlas Shrugged[ATLAS SHRUGGED 35/E][Paperback],Atlas Shrugged[ATLAS SHRUGGED][Hardcover],0.801784
208,209,Atlas Shrugged (Student Edition),Atlas Shrugged (50th Anniversary Edition),0.771517

The highest cosine similarity score is of `0.88` and the book names are `Atlas Shrugged (50th Anniversary Edition)` <3rd book in the result> and `Atlas Shrugged (50th Anniversary Edition) and the Fountainhead (Centennial Edition)` <19th book in the result>

In [8]:
score.tail()

,Comparision #,Book 1,Book 2,Cosine Score
265,266,ATLAS SHRUGGED by AYN RAND; 35th Anniversary E...,GradeSaver (TM) ClassicNotes: Atlas Shrugged S...,0.0
267,268,ATLAS SHRUGGED by AYN RAND; 35th Anniversary E...,"Your Guide to Ayn Rand, Atlas Shrugged, and Th...",0.0
269,270,ATLAS SHRUGGED by AYN RAND; 35th Anniversary E...,"Atlas Shrugged: The Novel, the Films, the Phil...",0.0
270,271,ATLAS SHRUGGED by AYN RAND; 35th Anniversary E...,Everything You Need to Know About Atlas Shrugg...,0.0
354,355,GradeSaver (TM) ClassicNotes: Atlas Shrugged S...,ATLAS SHRUGGED by AYN RAND; 35th Anniversary E...,0.0

The lowest cosine similarity score is of `0.00` and the book names are `GradeSaver (TM) ClassicNotes: Atlas Shrugged Study Guide` <16th book in the result> and `ATLAS SHRUGGED by AYN RAND; 35th Anniversary Edition` <12th book in the result>

### Question 2

#### 2a.

Used google search to query the book name `Atlas Shrugged`. 1st and 20th results are added to the list below.

In [9]:
query = "Atlas Shrugged"
google_results = ["Atlas Shrugged - Wikipedia",
                  "Ayn Rand's 'Atlas Shrugged' has been completely unraveled by the pandemic"
                  ]

#### 2b.

Run the comparision of the search results to the original query to calcualte the cosine similarity score.

In [10]:
counter =0
for result in google_results:
    counter+=1
    print(counter,"'", query,"'", " vs ","'",result,"'","cosine score:",cosine(query,result),"\n" )

1 ' Atlas Shrugged '  vs  ' Atlas Shrugged - Wikipedia ' cosine score: 0.7071067811865475

2 ' Atlas Shrugged '  vs  ' Ayn Rand's 'Atlas Shrugged' has been completely unraveled by the pandemic ' cosine score: 0.23570226039551587

#### 2c.

The first search result has the high cosine similarity score of `0.70`, while the 20th results has the lower score of `0.23`.

It was expected that the top result to have high consine similarity score, however as we go down in the results the score tends to fall as well.

     - End of Homework 6 -